/* Fonts */

@font-face {
    font-family: 'AlexBrush-Regular';
    src: url('../_fonts/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allura-Regular';
    src: url('../_fonts/Allura-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/********/

body{
	background-color:#CCCCB2;
}
	
#gridContainer {
	position:relative;
	margin:10px auto;
	width:850px; /*fixed size*/
	background-color:#FFF;	
	border-radius: 25px;
}

header{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

header h1{
	font-family: 'AlexBrush-Regular', tahoma, verdana, sans-serif;
	font-size: 60px;
	color: #800000;
}

nav{
	height:40px;
}

#nav_section{
	width: 160px;
	float:left;
	font-family: 'lucida console', tahoma, verdana, sans-serif;
	font-size:15px;
	font-style:bold;
	text-align:center;
}

article {
	width:700px;
	text-align: justify;
	background-color:#fff;
	float:left;
	padding: 0 60px 40px 60px;
	/*padding-left: 60px;
	padding-right:50px;*/
}	

article h1{
	font-family: 'Allura-Regular', tahoma, verdana, sans-serif;
	font-size: 30px;
	color: #660000;
}

article p{
	font-family: tahoma, verdana, sans-serif;
	font-size: 15px;	
}

article img{
	width: 100px;
	height:100px;

}

footer{
	clear: both;
	background-color:#FFF;
	font-family: tahoma, verdana, sans-serif;
	font-size: 12px;
	text-align: center;
	padding-top:15px;
	border-bottom-right-radius:25px;
	border-bottom-left-radius:25px;
}

.img_float{	
	float:left;
	padding-right:10px;
}


/* Links */

a:link{
	color:#293333;
	font-style:italic;
}

a:visited{
	color:#6b6b47;
}
	
a:hover{
	color:#3333ff;
	text-decoration:none;
}
	
a:active{
	color:#000000;
}


